<script type="text/javascript">
    RED.nodes.registerType('Data-Encryption', {
        category: 'Privacy Nodes',
        color: '#3E8C84',
        defaults: {
            SpecifyTyoeofData: { value: "Symmetric" },
            DataEncryption: { value: "" },
            name: { value: "Encrypted Data Storage" }
        },
        inputs: 1,
        outputs: 1,
        icon: "font-awesome/fa-key",
        label: function() {
            return this.name || "Encrypted Data Storage";
        },
        oneditprepare: function() {
            var specifyTypeofData = this.SpecifyTyoeofData || "";
            var dataEncryption = this.DataEncryption || "";

            $("#node-input-SpecifyTyoeofData").val(specifyTypeofData).change();

            function updateDataEncryptionOptions(selectedVal) {
                var newOption;
                $("#node-input-DataEncryption option").remove();
                if (selectedVal === "Symmetric") {
                    newOption = $('<option>AES (Block Cipher)</option>' +
                                  '<option>DES (Block Cipher)</option>' +
                                  '<option>Triple DES (Block Cipher)</option>' +
                                  '<option>Twofish (Block Cipher)</option>' +
                                  '<option>Trivium (Stream Cipher)</option>');
                } else if (selectedVal === "Asymmetric") {
                    newOption = $('<option>RSA</option>' +
                                  '<option>PKI (Public Key Infrastructure)</option>');
                }
                $('#node-input-DataEncryption').append(newOption);
                $("#node-input-DataEncryption").val(dataEncryption);
            }

            updateDataEncryptionOptions(specifyTypeofData);

            $("#node-input-SpecifyTyoeofData").on("change", function() {
                var selectedVal = $(this).val();
                updateDataEncryptionOptions(selectedVal);
            });
        },
        oneditsave: function() {
            this.name = $("#node-input-name").val();
            this.SpecifyTyoeofData = $("#node-input-SpecifyTyoeofData").val();
            this.DataEncryption = $("#node-input-DataEncryption").val();
        }
    });
</script>

<script type="text/html" data-template-name="Data-Encryption">
    <div class="form-row">
        <label style="width: 25%" for="node-input-name"><i class="fa fa-tag"></i> Name </label>
        <input style="width: 70%" type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label style="width: 25%" for="node-input-SpecifyTyoeofData"><i class="fa fa-shield"></i> Encryption type </label>
        <select style="width: 70%" id="node-input-SpecifyTyoeofData" placeholder="Data Encryption">
            <option value="Symmetric">Symmetric</option>
            <option value="Asymmetric">Asymmetric</option>
        </select>
    </div>


    

    <div class="form-row">
        <label style="width: 25%" for="node-input-DataEncryption"><i class="fa fa-key"></i> Encryption techniques </label>
        <select style="width: 70%" id="node-input-DataEncryption" placeholder="Data Encryption"></select>
    </div>

    <!-- Tips Box -->
    <div class="form-row" style="background-color: #f9f9f9; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
        <strong>Tip:</strong>
        <ul style="padding-left: 20px;">
            <li><strong>Data Encryption:</strong> Protects data by converting it into a secure format that can only be decrypted with the correct key.</li>
            <li><strong>Select Encryption Type:</strong> Choose between Symmetric (same key for encryption and decryption) and Asymmetric (different keys for encryption and decryption).</li>
            <li><strong>Compliance and Further Help:</strong> Click the Help tab for detailed explanations of each technique and compliance information.</li>
        </ul>
    </div>
</script>




<script type="text/html" data-help-name="Data-Encryption">
    <p>A privacy node that suggests encryption techniques based on type.</p>
    <p>IoT applications should store data in encrypted form to prevent privacy violations from attacks and unauthorized access.</p>
    <p>Data encryption, applied at various levels from sensors to the cloud.</p>

    <h3>Inputs</h3>
    <p>The Data Encryption node is designed to receive and process various types of data including sensor values, medical records, and single values. The input data can be formatted as a comma-separated string, JSON object, or single value.</p>
    
    <p>Example Input Formats:</p>
    
    <h4>Comma-Separated String:</h4>
    <pre>
    {
        "payload": "72,76,81"
    }
    </pre>
    <p>This example shows heart rate data as a comma-separated string.</p>
    
    <h4>JSON Object (e.g., Medical Records):</h4>
    <pre>
    {
        "payload": {
            "patientID": "12345",
            "heartRate": "72",
            "bloodPressure": "120/80",
            "temperature": "98.6"
        }
    }
    </pre>
    <p>This example shows a JSON object containing medical records.</p>
    
    <h4>Single Value (e.g., Burned Calories):</h4>
    <pre>
    {
        "payload": 150
    }
    </pre>
    <p>This example shows a single value representing burned calories.</p>
    
    

    <h3>Explanation</h3>
    <strong>Select Encryption Technique:</strong> 
    <strong>Symmetric</strong>

    <ul>
      <li><strong>"AES (Block Cipher):</strong> Advanced Encryption Standard, known for its strong security and efficiency."; </li>

      <li><strong>"Triple DES (Block Cipher):</strong> An enhancement of DES that applies the encryption algorithm three times."; </li>

      <li><strong> "Twofish (Block Cipher):</strong> A symmetric key block cipher known for its speed and flexibility."; </li>

      <li><strong> "Trivium (Stream Cipher):</strong> A lightweight stream cipher designed for efficiency in hardware."; </li>

    </ul>
        
    <strong>Asymmetric </strong>
    <ul>
      <li><strong> "RSA: </strong>A widely-used asymmetric encryption algorithm that relies on the computational difficulty of factoring large integers."; </li>

      <li><strong> "PKI (Public Key Infrastructure): </strong>A framework for creating a secure method for exchanging information using public key cryptography."; </li>

    </ul>

    <h3>Recommendations</h3>
    <p>For storing data securely on a Raspberry Pi running Node-RED, it is recommended to use symmetric encryption techniques due to their efficiency and strong security.</p>

    <h3>Demo video</h3>
    <p>The demo video demonstrates how Canella operates, emphasizing how its features, along with its privacy-preserving components, can educate developers about privacy measures and ensure compliance with data protection laws through real-world scenarios: <a href="https://www.youtube.com/watch?v=7V0q3MyAzCQ&t=48s">Demo Video Link</a> .</p>


    <h3>Compliance to the Privacy and Data Protection Laws</h3>
    <ul>
        <li><code>Security Principle</code></li>
        <p>Safeguarding procedures must be in place to protect personal information and prevent its loss, misuse or disclosure.</p>
        <p><a>Article (5 – A 33) (GDPR)</a>, <a>Principle 7 (PIPEDA)</a>, <a>1798.140 (CCPA)</a>, <a>(App 11 APPs)</a>, <a>Principle 5 (New Zealand Privacy Act)</a></p>
    </ul>
    
</script>

