<script type="text/javascript">
    RED.nodes.registerType('minimise-raw-data-intake',{
        category: 'Privacy Nodes',
        color: '#008B8B',
        defaults: {
            MinimiseRawDataIntake: {value:""},
            name: {value:"Minimise Raw Data Intake"}
        },

        inputs: 1,
        outputs: 1,
        icon: "font-awesome/fa-filter",
        label: function() {
            return this.name || "Minimise Raw Data Intake";
        }
    });
</script>

<script type="text/html" data-template-name="minimise-raw-data-intake">
    <div class="form-row">
        <label style="width: 25%" for="node-input-name"><i class="fa fa-tag"></i> Name </label>
        <input style="width: 70%" type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label style="width: 25%" for="node-input-MinimiseRawDataIntake"><i class="fa fa-tag"></i> Data to Minimise </label>
        <select style="width: 70%" id="node-input-MinimiseRawDataIntake" placeholder="Minimise Raw Data Intake">
            <option id="HeartRate">Heart rate per minute values</option>
            <option id="Speed">Speed per KM values</option>
        </select>
    </div>

    <!-- Tips Box -->
    <div class="form-row" style="background-color: #f9f9f9; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
        <strong>Tip:</strong>
        <ul style="padding-left: 20px;">
            <li><strong>Data Minimisation:</strong> Reduce the amount of raw data collected by transforming it into secondary context data to further enhance privacy.</li>
            <li><strong>Select Data Type:</strong> Choose the type of sensor data to minimise (e.g., heart rate or speed values).</li>
            <li><strong>Compliance and Further Help:</strong> Click the Help tab for detailed explanations and compliance information.</li>
        </ul>
    </div>
</script>

<script type="text/html" data-help-name="minimise-raw-data-intake">
    <p>This privacy node reduces the amount of raw data it receives by calculating the average of the sensor data values. It offers options to minimise different types of sensor data, such as heart rate or speed values.</p>

    <h3>Details</h3>
    <p>Reducing raw data intake helps prevent secondary usage and privacy violations. Whenever possible, IoT applications should transform raw data into secondary context data to enhance privacy.</p>

    <h3>Inputs</h3>
    <p>The node receives sensor values in a string format separated by commas. For example, for heart rate data: "72,76,81".</p>
    <h3>Demo video</h3>
    <p>The demo video demonstrates how Canella operates, emphasizing how its features, along with its privacy-preserving components, can educate developers about privacy measures and ensure compliance with data protection laws through real-world scenarios: <a href="https://www.youtube.com/watch?v=7V0q3MyAzCQ&t=48s">Demo Video Link</a> .</p>

    <h3>Compliance with Privacy and Data Protection Laws</h3>
    <ul>
        <li><strong>Data Minimisation Principle:</strong> Personal data must be relevant, adequate, and limited to what is necessary for the stated purpose. 
            <a>Article 5 (GDPR)</a>, <a>Principle 4 (PIPEDA)</a>, <a>1798.100(b) (CCPA)</a>, <a>APP 3 (APPs)</a>, <a>Principle 1 (New Zealand Privacy Act)</a></li>
        <li><strong>Limiting Use and Disclosure Principle:</strong> Personal information should only be used or disclosed for the purposes for which it was collected. 
            <a>Article 5 (GDPR)</a>, <a>Principle 5 (PIPEDA)</a>, <a>1798.100(b) and 1798.120(b) (CCPA)</a>, <a>APP 6 (APPs)</a>, <a>Principle 10-11 (New Zealand Privacy Act)</a></li>
        <li><strong>Storage Limitation:</strong> Personal information must not be stored longer than necessary once it has met the purposes for which it was collected. 
            <a>Article 5 (GDPR)</a>, <a>Principle 5 (PIPEDA)</a>, <a>1798.140 (CCPA)</a>, <a>APP 11 (APPs)</a>, <a>Principle 9 (New Zealand Privacy Act)</a></li>
    </ul>
</script>
