<script type="text/javascript">
    RED.nodes.registerType('category-based-aggregation',{
        category: 'Privacy Nodes',
        color: '#FFAAAA',
        defaults: {
           SpecifyTyoeofData: {value: ""},
           CategoryBasedAggregation: {value: ""},
           name: {value:"Category Based Aggregation"}
        },

        inputs:1,
        outputs:1,
        icon: "font-awesome/fa-th-large",
        label: function() {
            return this.name||"Category Based Aggregation";
        },
        

            oneditprepare: function() {
                   
            $("#node-input-SpecifyTyoeofData").on("change",function(){
                 var selectedVal= $("#node-input-SpecifyTyoeofData option:selected");
                var newOption;
          
                if (selectedVal.val() == "Activity Spent Time") 
                    {
                    $("#node-input-CategoryBasedAggregation option").remove();//Remove the previous list
                     newOption = $('<option>Range</option>'); // Add all values to the dropdown list
                       $('#node-input-CategoryBasedAggregation').append(newOption);

                    }
                       
                else if (selectedVal.val() == "Heart rate") 
                    {
                    $("#node-input-CategoryBasedAggregation option").remove();//Remove the previous list
                     newOption = $('<option>Status</option>' + '<option>Range</option>'); // Add all values to the dropdown list
                       $('#node-input-CategoryBasedAggregation').append(newOption);


                    } 
                    
                    else if (selectedVal.val() == "Active calories") {
                        $("#node-input-CategoryBasedAggregation option").remove(); //Remove the previous list
                      newOption= $('<option>Range</option>'); // Add all values to the dropdown list
                          $('#node-input-CategoryBasedAggregation').append(newOption);
                        }


                                            
                    else if (selectedVal.val() == "Speed") {
                        $("#node-input-CategoryBasedAggregation option").remove(); //Remove the previous list
                      newOption= $('<option>Range</option>'); // Add all values to the dropdown list
                          $('#node-input-CategoryBasedAggregation').append(newOption);
                        }

                        else if (selectedVal.val() == "Distance") {
                        $("#node-input-CategoryBasedAggregation option").remove(); //Remove the previous list
                      newOption= $('<option>Range</option>'); // Add all values to the dropdown list
                          $('#node-input-CategoryBasedAggregation').append(newOption);
                        }

            })},



                oneditsave: function () {

            
                let DataType = $("#node-input-SpecifyTyoeofData option:selected")
                this.SpecifyTyoeofData = DataType.val();

                let AggregationType =  $("#node-input-CategoryBasedAggregation option:selected");
                this.CategoryBasedAggregation = AggregationType.val();

                }

        
            });
     
</script>
<script type="text/html" data-template-name="category-based-aggregation">


    <div class="form-row">
        <label style="width: 25%" for="node-input-name"><i class="fa fa-tag"> </i> Name </label>
        <input style="width: 70%"  type="text" id="node-input-name" placeholder="Name">

    </div>
        

    <div class="form-row">
    <label style="width: 25%"  for="node-input-SpecifyTyoeofData"><i class="fa fa-dot-circle-o"></i> Agregate </label>
    <select style="width: 70%"  id="node-input-SpecifyTyoeofData" placeholder="Category Based Aggregation">
    <option id= "Age" >Age </option> 
    <option id= "Spent_Time" >Activity Spent Time</option> 
    <option id= "Heart_rate" > Heart rate</option> 
    <option id= "Active_calories">Active calories</option>
    <option> Speed </option>
    <option> Distance </option> 
    </select>
    </div>


    <div class="form-row">
        <label   style="width: 25%"   for="node-input-CategoryBasedAggregation"><i class= "fa fa-book fa-fw"></i> Categories by </label>
        <select style="width: 70%" id="node-input-CategoryBasedAggregation" placeholder="Category Based Aggregation"> </select>
    </div>

    <!-- Tips Box -->
    <div class="form-row" style="background-color: #f9f9f9; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
        <strong>Tip:</strong>
        <ul style="padding-left: 20px;">
            <li><strong>Category Based Aggregation:</strong> Reduces the granularity of data by grouping it into categories.</li>
            <li><strong>Select Data Type:</strong> Choose the type of data you want to categorize, such as heart rate or speed.</li>
            <li><strong>Select Aggregation Type:</strong> Depending on the data type, select the appropriate aggregation method, such as "Range" or "Status".</li>
            <li><strong>Compliance and Further Help:</strong> Click the Help tab for detailed explanations and compliance information.</li>
        </ul>
    </div>
</script>


   <script type="text/html" data-help-name="category-based-aggregation">
    <p>This privacy node reduces the granularity of the message payloads of users' data. For example, instead of using exact values (e.g., 160 CAL), the burned calories of a particular workout can be represented as 150-200 CAL. The edit dialog suggests different types of data to categorize and different categories based on the data type. For example, for heart rate data, it suggests two categories: status (low, normal, or high) or range (60-80 BPM).</p>

    <h3>Inputs</h3>
    <p>The node receives sensor values in a string format separated by commas. For example, for heart rate data: "72,76,81".</p>

    <h3>Demo video</h3>
    <p>The demo video demonstrates how Canella operates, emphasizing how its features, along with its privacy-preserving components, can educate developers about privacy measures and ensure compliance with data protection laws through real-world scenarios: <a href="https://www.youtube.com/watch?v=7V0q3MyAzCQ&t=48s">Demo Video Link</a> .</p>

    <h3>Compliance with Privacy and Data Protection Laws</h3>
    <ul>
        <li><strong>Data Minimisation Principle:</strong> Personal data must be relevant, adequate, and limited to what is necessary for the stated purpose. 
            <a href="https://gdpr-info.eu/art-5-gdpr/">Article 5 (GDPR)</a>, <a href="https://laws-lois.justice.gc.ca/eng/acts/P-8.6/page-1.html#h-433">Principle 4 (PIPEDA)</a>, <a href="https://oag.ca.gov/privacy/ccpa">1798.100(b) (CCPA)</a>, <a href="https://www.oaic.gov.au/privacy/australian-privacy-principles/">APP 3 (APPs)</a>, <a href="https://www.privacy.org.nz/privacy-act-2020/privacy-principles/">Principle 1 (New Zealand Privacy Act)</a></li>
        <li><strong>Limiting Use and Disclosure Principle:</strong> Personal information should only be used or disclosed for the purposes for which it was collected. 
            <a href="https://gdpr-info.eu/art-5-gdpr/">Article 5 (GDPR)</a>, <a href="https://laws-lois.justice.gc.ca/eng/acts/P-8.6/page-1.html#h-433">Principle 5 (PIPEDA)</a>, <a href="https://oag.ca.gov/privacy/ccpa">1798.100(b) and 1798.120(b) (CCPA)</a>, <a href="https://www.oaic.gov.au/privacy/australian-privacy-principles/">APP 6 (APPs)</a>, <a href="https://www.privacy.org.nz/privacy-act-2020/privacy-principles/">Principle 10-11 (New Zealand Privacy Act)</a></li>
    </ul>
</script>