<script type="text/javascript">
    RED.nodes.registerType('reduce-location-granularity',{
        category: 'Privacy Nodes',
        color: '#F28157',
        defaults: {
            LocationGranularity: {value:"Country Name"},
            name: {value:"Reduce Location Granularity"}
        },


        inputs:1,
        outputs:1,
        icon: "font-awesome/fa-map-pin",
        label: function() {
            return this.name||"Reduce Location Granularity";
        }
    });
</script>

<script type="text/html" data-template-name="reduce-location-granularity">

    <div class="form-row">
        <label style="width: 25%" for="node-input-name"><i class="fa fa-tag"> </i> Name </label>
        <input style="width: 70%"  type="text" id="node-input-name" placeholder="Name">
    </div>

<div class="form-row">
    <label style="width: 25%"  for="node-input-LocationGranularity"><i class="fa fa-tag"></i>  Reduce Location Granularity  </label>
    <select style="width: 70%"  id="node-input-LocationGranularity" placeholder="Location Granularity">
        <option>Post Code</option>
    <option>City Name</option>
    <option>Country Name</option>
    </select>
    </div>

    <div class="form-row">
        <label style="width: 25%" for="node-input-key"><i class="fa fa-tag"> </i> Google MAP API key </label>
        <input style="width: 70%"  type="text" id="node-input-key" placeholder="Key" required>
    </div>


   <!-- Tips Box -->
   <div class="form-row" style="background-color: #f9f9f9; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
    <strong>Tip:</strong>
    <ul style="padding-left: 20px;">
        <li><strong>Location Granularity:</strong> Adjusts the detail level of location data to enhance privacy by converting precise geographic coordinates into broader, less detailed locations.</li>
        <li><strong>Choose the desired level of location detail.</strong> </li>
        <li><strong>Google Maps API Key:</strong> Required for accessing Google Maps services to perform reverse geocoding, which converts geographic coordinates into human-readable addresses.</li>
        <li><strong>Compliance and Further Help:</strong> Click the Help tab for detailed explanations and compliance information.</li>
    </ul>
</div>
</script>


</script>

<script type="text/html" data-help-name="reduce-location-granularity">
    <p>This privacy node reduces the granularity of location data by performing reverse geocoding to convert geographic coordinates (latitude and longitude) into a human-readable address. It allows you to choose from three levels of reduced granularity: postcode, city name, or country name. An API key is required to access Google Map APIs for this process.</p>
    
    <h3>Details</h3>
    <p>Granularity refers to the level of detail represented by the data. High granularity provides a detailed view, while low granularity offers a summarized view. For instance, a full address is fine-grained and carries more privacy risks compared to coarse-grained data like a city or country name.</p>
    
    <h3>Location Granularity Levels</h3>
    <ul>
        <li><strong>Post Code:</strong> Detailed, but less specific location. Example: "90210".</li>
        <li><strong>City Name:</strong> Broader location, enhancing privacy. Example: "Los Angeles".</li>
        <li><strong>Country Name:</strong> Most general location, maximizing privacy. Example: "United States".</li>
    </ul>

    <h3>Inputs</h3>
    <p>The node accepts latitude and longitude in a string format separated by a space (e.g., "51.4492266 -3.1793029") or a postcode in string format (e.g., "CF11 0JW").</p>

    <h3>Demo video</h3>
    <p>The demo video demonstrates how Canella operates, emphasizing how its features, along with its privacy-preserving components, can educate developers about privacy measures and ensure compliance with data protection laws through real-world scenarios: <a href="https://www.youtube.com/watch?v=7V0q3MyAzCQ&t=48s">Demo Video Link</a> .</p>
    <h3>Compliance with Privacy and Data Protection Laws</h3>
    <ul>
        <li><strong>Data Minimisation Principle:</strong> Personal data must be relevant, adequate, and limited to what is necessary for the purpose. <a>Article 5 (GDPR)</a>, <a>Principle 4 (PIPEDA)</a>, <a>1798.100(b) (CCPA)</a>, <a>APP 3 (APPs)</a>, <a>Principle 1 (New Zealand Privacy Act)</a></li>
        <li><strong>Limiting Use and Disclosure Principle:</strong> Personal information should only be used or disclosed for the purposes it was collected. <a>Article 5 (GDPR)</a>, <a>Principle 5 (PIPEDA)</a>, <a>1798.100(b) and 1798.120(b) (CCPA)</a>, <a>APP 6 (APPs)</a>, <a>Principle 10-11 (New Zealand Privacy Act)</a></li>
    </ul>
</script>

