<script type="text/javascript">
    RED.nodes.registerType('minimise-data-storage',{
        category: 'Privacy Nodes',
        color: '#3CB371',
        defaults: {
            MinimiseDataStorage: { value: "" },
            dataRetentionPeriod: { value: 30 },  // Default retention period is 30 days
            name: { value: "Minimise Data Storage and Retention Period" }
        },
        inputs: 1,
        icon: "font-awesome/fa-archive",
        label: function() {
            return this.name || "Minimise Data Storage and Retention Period";
        },
        oneditprepare: function() {
            var minimiseDataStorage = $("#node-input-MinimiseDataStorage");
            minimiseDataStorage.empty();
            minimiseDataStorage.append('<option value="Append to File">Append to File</option>');
            minimiseDataStorage.append('<option value="Create a new File">Create a new File</option>');

            $("#node-input-dataRetentionPeriod").spinner({
                min: 1,
                step: 1
            });
        }
    });
</script>

<script type="text/html" data-template-name="minimise-data-storage">
    <div class="form-row">
        <label style="width: 25%" for="node-input-name"><i class="fa fa-tag"></i> Name </label>
        <input style="width: 70%" type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label style="width: 25%" for="node-input-MinimiseDataStorage"><i class="fa fa-dot-circle-o"></i> Action </label>
        <select style="width: 70%" id="node-input-MinimiseDataStorage" placeholder="Minimise Data Storage"></select>
    </div>

    <div class="form-row">
        <label style="width: 25%" for="node-input-dataRetentionPeriod"><i class="fa fa-clock"></i> Data Retention Period (days)</label>
        <input style="width: 70%" type="text" id="node-input-dataRetentionPeriod" placeholder="e.g., 30">
    </div>

    <!-- Tips Box -->
    <div class="form-row" style="background-color: #f9f9f9; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
        <strong>Tip:</strong>
        <ul style="padding-left: 20px;">
            <li><strong>Minimise Data Storage and Retention Period:</strong> This node helps minimize the amount of data stored by an IoT application and limits the duration for which data is kept, reducing the risk of data breaches and ensuring compliance with privacy laws.</li>
            <li><strong>Action:</strong> Choose whether to append data to an existing file or create a new file.</li>
            <li><strong>Data Retention Period:</strong> Specify the number of days the data should be retained. After this period, the data will be deleted to prevent unnecessary retention.</li>
            <li><strong>Compliance and Further Help:</strong> Click the Help tab for detailed explanations and compliance information.</li>
        </ul>
    </div>
</script>

<script type="text/html" data-help-name="minimise-data-storage">
    <p>This privacy node minimizes the amount of data stored by an IoT application and the duration for which data is retained. It allows you to either append data to an existing file or create a new file and specifies the retention period in days. This helps in ensuring that data is not stored longer than necessary, reducing the risk of privacy violations.</p>
    <p>Any data that is not required for a specific task should be deleted. For example, raw data can be deleted once it has been processed into secondary context data.</p>

    <h3>Demo video</h3>
    <p>The demo video demonstrates how Canella operates, emphasizing how its features, along with its privacy-preserving components, can educate developers about privacy measures and ensure compliance with data protection laws through real-world scenarios: <a href="https://www.youtube.com/watch?v=7V0q3MyAzCQ&t=48s">Demo Video Link</a> .</p>
    
    <h3>Compliance with Privacy and Data Protection Laws</h3>
    <ul>
        <li><strong>Data Minimisation Principle:</strong> Personal data must be relevant, adequate, and limited to what is necessary for the purpose. 
            <a href="https://gdpr-info.eu/art-5-gdpr/">Article 5 (GDPR)</a>, <a href="https://laws-lois.justice.gc.ca/eng/acts/P-8.6/page-1.html#h-433">Principle 4 (PIPEDA)</a>, <a href="https://oag.ca.gov/privacy/ccpa">1798.100(b) (CCPA)</a>, <a href="https://www.oaic.gov.au/privacy/australian-privacy-principles/">APP 3 (APPs)</a>, <a href="https://www.privacy.org.nz/privacy-act-2020/privacy-principles/">Principle 1 (New Zealand Privacy Act)</a></li>
        <li><strong>Limiting Use and Disclosure Principle:</strong> Personal information should only be used or disclosed for the purposes for which it was collected. 
            <a href="https://gdpr-info.eu/art-5-gdpr/">Article 5 (GDPR)</a>, <a href="https://laws-lois.justice.gc.ca/eng/acts/P-8.6/page-1.html#h-433">Principle 5 (PIPEDA)</a>, <a href="https://oag.ca.gov/privacy/ccpa">1798.100(b) and 1798.120(b) (CCPA)</a>, <a href="https://www.oaic.gov.au/privacy/australian-privacy-principles/">APP 6 (APPs)</a>, <a href="https://www.privacy.org.nz/privacy-act-2020/privacy-principles/">Principle 10-11 (New Zealand Privacy Act)</a></li>
        <li><strong>Storage Limitation:</strong> Personal information must not be stored for longer than necessary once it has met the purposes for which it was collected. 
            <a href="https://gdpr-info.eu/art-5-gdpr/">Article 5 (GDPR)</a>, <a href="https://laws-lois.justice.gc.ca/eng/acts/P-8.6/page-1.html#h-433">Principle 5 (PIPEDA)</a>, <a href="https://oag.ca.gov/privacy/ccpa">1798.140 (CCPA)</a>, <a href="https://www.oaic.gov.au/privacy/australian-privacy-principles/">APP 11 (APPs)</a>, <a href="https://www.privacy.org.nz/privacy-act-2020/privacy-principles/">Principle 9 (New Zealand Privacy Act)</a></li>
    </ul>
</script>
