
<script type="text/javascript">
    RED.nodes.registerType('encrypted-data-communication', {
        category: 'Privacy Nodes',
        color: '#0b6685',
        defaults: {
            name: { value: "Encrypted Data Communication" },
            apiKey: { value: "" },
            url: { value: "" }
        },
        credentials: {
            apiKey: { type: "password" }
        },
        inputs: 1,
        icon: "font-awesome/fa-shield",
        label: function() {
            return this.name || "encrypted-data-communication";
        },
        oneditprepare: function() {
            var node = this;

            // Initialize the API key if it has a value in the credentials
            if (node.credentials && node.credentials.apiKey) {
                $("#node-input-apiKey").val(node.credentials.apiKey);
            }

            // Save the API key in the credentials
            $("#node-input-apiKey").change(function() {
                node.credentials.apiKey = $("#node-input-apiKey").val();
            });
        }
    });
</script>

<script type="text/html" data-template-name="encrypted-data-communication">
    <div class="form-row">
        <label style="width: 25%" for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input style="width: 70%" type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label style="width: 25%"  for="node-input-url"><i class="fa fa-globe"></i> Destination URL</label>
        <input style="width: 70%"  type="text" id="node-input-url" placeholder="https://example.com/api">
    </div>
    <div class="form-row">
        <label style="width: 25%" for="node-input-apiKey"><i class="fa fa-key"></i> API Key</label>
        <input style="width: 70%"  type="password" id="node-input-apiKey">
    </div>


    <!-- Tips Box for Encrypted Data Communication -->
    <div class="form-row" style="background-color: #f9f9f9; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
        <strong>Tip:</strong>
        <ul style="padding-left: 20px;">
            <li><strong>Encrypted Data Communication:</strong> Implementing encrypted data communication helps protect data from unauthorized access during transfer between IoT components. It ensures that data is secure and privacy is maintained.</li>
            <li><strong>Setup:</strong> Provide the destination URL and the API key to securely send data to the intended endpoint using HTTPS.</li>
            <li><strong>Compliance and Further Help:</strong> Click the Help tab for detailed node configuration instructions and information on complying with privacy laws.</li>
        </ul>
    </div>
</script>

</script>



<script type="text/html" data-help-name="encrypted-data-communication">
    <p>A privacy node that suggests different components in an IoT application should consider encrypted data communication wherever possible. Encrypted data communication reduces the potential privacy risks due to unauthorized access during data transfer between components.
    This node sends data to the specified URL using HTTPS and includes the provided API key for authentication.</p>

        <h3>Configuration</h3>
    
        <ul>
            <li><b>Name</b> - A unique name for the node instance.</li>
            <li><b>Destination URL</b> - The URL to which the data will be sent.</li>
            <li><b>API Key</b> - The API key to use for authentication.</li>
        </ul>

        <h3>Demo video</h3>
        <p>The demo video demonstrates how Canella operates, emphasizing how its features, along with its privacy-preserving components, can educate developers about privacy measures and ensure compliance with data protection laws through real-world scenarios: <a href="https://www.youtube.com/watch?v=7V0q3MyAzCQ&t=48s">Demo Video Link</a> .</p>


<h3>Compliance to the Privacy and Data Protection Laws</h3>
<ul>
    <li><code>Security Principle</code></li>
    <p>Safeguarding procedures must be in place to protect personal information and prevent its loss, misuse or disclosure.</p>
    <p><a>Article (5 – A 33) (GDPR)</a>, <a>Principle 7 (PIPEDA)</a>, <a>1798.140 (CCPA)</a>, <a>(App 11 APPs)</a>, <a>Principle 5 (New Zealand Privacy Act)</a></p>
</ul>
</script>
